<!--Begin::Section-->
<div class="row" style="margin-bottom:-160px">
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> 15 <small> Real Time Visitors</small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-brand ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> {{ total_members }} <small> {{ adminLang.dashboard_all_members_txt}}</small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-danger ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> {{ total_productors }} <small> {{ adminLang.dashboard_all_productors_txt }} </small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> {{ all_sale }} <small> {{ adminLang.dashboard_all_sale_txt }} </small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
</div>
<!--End::Section--> 


<!--Begin::Section-->
<div class="row">
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> 35 <small> Real Time Baskets</small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-brand ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> 0 <small> Affectation des places</small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-danger ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> 12 <small> Frais de commission</small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> 124 <small> Frais de gestion </small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
</div>
<!--End::Section--> 