{% extends "public/layouts/layout-public.twig" %}
{% block maincontent %}

    <!--  Le cadeau spectacle Section Start Here
             ==================================================-->
    <div class="lcsSection">

        <!-- Pagination  Section Start Here
          ==================================================-->
        <div class="paginationCon">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li> |</li>
                            <li>la communauté CulturAccess</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination Section End Here
          ==================================================-->

        <div class="mcbSection">
            <div class="culturAccess">
                <div class="culturAccessTitle">
                    <h2>LA COMMUNAUTé CULTURACCESS </h2>
                    <p>Des femmes et des hommes engagés pour faciliter l’accès des cultures plurielles aux francophones d’Israel, résidents et visiteurs.  Ils sont passionnés, motivés, enthousiastes… Ils donnent du sens à notre projet. Merci du fond du cœur. </p>
                </div>
                <div class="culturAccessInner">
                    <div class=" container-fluid">
                        <div class="row">
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <div class="culturAccessCon">
                                    <h1>LES <span>piliers</span> DE CULTURACCESS</h1>
                                    <div class="culturAccessConcol">
                                        <h3>Ils aiment ce projet… Ils s’engagent. Ils ont apporté une partie du financement, ils nous ont accompagnés pour donner vie à cet idéal de culture partagé… <span>Mesdames, Messieurs, c’est un honneur de vous avoir. </span></h3>

                                        <p>Franck Attal, Nathalie Attal, Elena Gihan, Liron Chemouny, Yann Louise, Alain Benhamou, Dominique Benhamou, Joelle Dahan, Régine Konckier, François Sekri, Sarah Novak, Jimmy Anidjar, Monique Anidjar, Ido Shamai, Jacques Nahmias, Sonia Nahmias, David Ouanounou, Karen Ouanounou, Shimon Benari, Arié Bensemhoun, Valérie Bensemhoun, Eric Guedj, Charles Elkouby, Claude Rapoport. <a href="#" type="button"   data-toggle="modal" data-target="#toutelaliste">toute la liste</a></p>

                                        <a href="#" class="cabtn" type="button"   data-toggle="modal" data-target="#ensavoir">en savoir +</a>
                                    </div>
                                </div>
                                <div class="culturAccessCon">
                                    <h1>LES <span>militants</span> DE CULTURACCESS</h1>
                                    <div class="culturAccessConcol">
                                        <h3>Au quotidien ils participent à apporter les informations culturelles et festives, ils poussent les projets dans leur région, ils rendent possible le grand Agenda… <span>Mesdames, Messieurs, c’est une fierté de porter cet idéal avec vous.</span></h3>

                                        <p>Annie Haddad <span>Tel Aviv</span>, Alain Asseraf <span>Netanya</span>, Avraham Azoulay Jérusalem, Annie Bukur Rishon Lezion, Carole Ouaknine Jérusalem, Henri Schumann Haïfa, Salomon Bensimon Ashdod, Déborah Tsanani Kfar Saba, Henri Levy Jerusalem, Jacqueline Uzan Netanya, Katia Dahan Montréal, Laurence Rahmil Tel Aviv, Viviane Ohayon Gan Yavne, Sarah Novak Toulouse, Sonia Nahmias Tel Aviv, Yael Sitbon Tel Aviv, Yossi Haddad Tel Aviv, Dov Haddad Raanana, Louise Haddad Paris, Françoise Guedj Miami, Jean-Luc Guedj Miami, David Layani Netanya, Monique Berda Netanya, Dorothée Elmaleh Herzlya, Patrick Boukobza Netanya, Nina Nagar Tel Aviv, Yael Koning Tel Aviv, Véronique Toubiana Tel Aviv, Eric Toubiana Tel Aviv, Shelly Piha Tel Aviv/Bruxelles, Eleonore Danino Paris, Tina  Partouche Paris, Liliane Ftouki Nice , Ilan Levy Lyon... > <a href="#" type="button"   data-toggle="modal" data-target="#toutelaliste">toute la liste</a></p>

                                        <a href="#" class="cabtn" type="button"   data-toggle="modal" data-target="#ensavoir">en savoir +</a>
                                    </div>
                                </div>
                                <div class="culturAccessCon">
                                    <h1>LES <span>sympathisants</span> DE CULTURACCESS</h1>
                                    <div class="culturAccessConcol">
                                        <h3>Ils nous ont ouvert l’accès à leur réseau, ils relaient en priorité les informations de nos activités, ils ont de l’empathie pour notre projet…
                                            <span>Mesdames, Messieurs, votre engagement est un privilège.</span></h3>

                                        <p><span>Martine Perez, Amiel Estelle, Charles Taieb, Sophie Krief Dabi, Tina Partouche, Mikael Benchabat, Myriam Fedida, Haïm Guetta,Gabriel Elalouf, Elisabeth Zagury-Assouline, Laurene Amram,Paul Sicsic, Emmanuel Elalouf, Clara Lahmani, Armand & Madeleine Elfassi, Evelyne Dray, José Dray, Sonia Ifer gan, Emmanuel Zaoui, Pascal Petrel, Moshé Assuline, Michael Mimran, Cécile Benchabat, Anette Ruimy, Cecile Ruimy, Samy Asseraf, Judah Elmaleh, Jonathan Joffe, Abraham Tordjman, Audrey Gross, Yael Cohen, Ido Benari, Stéphane Lavoine, Osama Fouad, Barouk Agar, Claire Fouad, Emmanuel Elalouf, Yaakov Bensemhoun, Jessica Zeitoun, Estelle Amiel, Sophie Bar, Sophie Atlan, Dan Weinblum, Virginie Asseraf, Ephraim Taittelbaum, Aviva Benari, Laurent Taieb, Elise Baruk, Yehouda Serero, Karine Samama, Rosy Chouai, Nicole Paumier, Paula Ruimy, ... ></span> <a href="#" type="button"   data-toggle="modal" data-target="#toutelaliste">toute la liste</a></p>

                                        <a href="#" class="cabtn" type="button"   data-toggle="modal" data-target="#ensavoir">en savoir +</a>
                                    </div>
                                </div>
                                <div class="culturAccessCon">
                                    <h1>LE <span>milieu artistique</span> avec CULTURACCESS</h1>
                                    <div class="culturAccessConcol">
                                        <h3>Ils nous ont ouvert l’accès à leur réseau, ils relaient en priorité les informations de nos activités, ils ont de l’empathie pour notre projet…. <span>Mesdames, Messieurs, votre engagement est un privilège. </span></h3>

                                        <p>Emmanuel Smadja <span>Producteur</span>, Elisabeth Kedem <span>Actrice</span>, Marc Fichel Auteur Compositeur, Maguy Trojman Productrice, Estelle Grynszpan Actrice, Steve Kalfa Acteur, Ilan Zaoui Chorégraphe, Maurice Zaoui Chanteur Danseur, Mikael Grynszpan Cinéaste, Mike Chriqui Chanteur, Yael Rasooly Arts visuels & chansons, Marek Czerniawski Musicien, Bernard Bitan Comédien scénariste, Olivier Guedj Humoriste, Yoav Zemach Producteur, Claudia Meyer Chanteuse, Jean-Pierre Stora Compositeur, David Smadja Artiste Musicien, Caroll Azoulay Relations publiques, Karene Valère Club Olivia Valere, Jessica Zeitoun Evenementiel, Israel Tavor Animateur radio,  Eric Litman Comédien, Mikael Wolf Producteur, Lea Mimoun Chanteuse, Mike Brook Comédien, Aurélie Ohayon Tal Business school, Orlika Chanteuse, ... > <a href="#" type="button"   data-toggle="modal" data-target="#toutelaliste">toute la liste</a></p>

                                        <a href="#" class="cabtn" type="button"   data-toggle="modal" data-target="#ensavoir">en savoir +</a>
                                    </div>
                                </div>

                                <div class="culturAccessCon">
                                    <h1>LEs <span>associations</span> proches de CULTURACCESS</h1>
                                    <div class="culturAccessConcol">
                                        <h3>Le tissu associatif Israélien nous permet d’aller au plus prés des francophones. On peut grace à elles remplir notre mission de rendre accessibles les cultures plurielles…  <span>Mesdames et messieurs, votre dévouement est un exemple pour nous.</span></h3>

                                        <p>Elnet <span>European Leadership Network</span>, Israel Accueil, Espace Francophone D’ashdod, Zaka, ADIR association dynamique pour une intégration réussie, Keren Hayessod, KKL Keren Kayemet Leisrael, MDA Maguen David Adom, LATET Israel Humanitarian Aid, Israelandyou,  Agence Juive pour Israel, AEI association des anciens EIF en Israel, AIU Alliance Israélite Universelle, CNEF Centre national des étudiants Francophones, Centre Culturel Français de Haifa Gaston Deferre, MEDIF Médecins Israéliens Francophones, Les Rendez Vous du cœur, Lev Haimaot Le Coeur des mamans, ACTE Association pour la promotion du théatre français en Israël, ADFI Association Démocratique des Français en Israël, ... > <a href="#" type="button"   data-toggle="modal" data-target="#toutelaliste">toute la liste</a></p>

                                        <a href="#" class="cabtn" type="button"   data-toggle="modal" data-target="#ensavoir">en savoir +</a>
                                    </div>
                                </div>

                                <div class="culturAccessCon">
                                    <h1>LEs <span>membres</span> de CULTURACCESS</h1>
                                    <div class="culturAccessConcol">
                                        <h3>Vous êtes notre raison d’être… Nous construisons jour après jour l’information et l’offre d’événements en Israel pour un accès plus facile aux francophones…  <span>Mesdames et Messieurs, vous êtes essentiels pour faire vivre les cultures plurielles en Israel.</span></h3>


                                        <div class="deemalcon">
                                            <div class="inputcol">
                                                <label>DEVENEZ MEMBRE </label>
                                                <input name="" type="text" placeholder="Mon email*">
                                            </div>
                                            <input name="valider" type="button" value="valider" class="valider">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                <div class="culturAccessConright">
                                    <div class="carTitle">
                                        <h2>la communauté en chiffres</h2>
                                        <div class="arrowd"><img src="{{ base_url() }}/assets/assets/img/arrow-d.png" width="42" height="21"></div>
                                    </div>
                                    <div class="dateandmonth">
                                        <div class="dmrow">
                                            <h5>à ce jour</h5>
                                            <h2>31 <span>parrains</span></h2>
                                        </div>
                                        <div class="dmrow">
                                            <h5>à ce jour</h5>
                                            <h2>127 <span>militants</span></h2>
                                        </div>
                                        <div class="dmrow">
                                            <h5>à ce jour</h5>
                                            <h2>1631 <span>sympatisants</span></h2>
                                        </div>
                                        <div class="dmrow">
                                            <h5>à ce jour</h5>
                                            <h2>273 <span>artistes</span></h2>
                                        </div>

                                        <div class="dmrow">
                                            <h5>à ce jour</h5>
                                            <h2>42 <span>associations</span></h2>
                                        </div>
                                        <div class="dmrow">
                                            <h5>à ce jour</h5>
                                            <h2>14224 <span>membres</span></h2>
                                        </div>
                                    </div>
                                    <img src="{{ base_url() }}/assets/assets/img/logoh.png" width="100%" > </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Le cadeau spectacle  Section End Here
      ==================================================-->



{% endblock %}
{% block footerscripts %}

    <script src="{{ base_url() }}/assets/js/owl.carousel.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/js/jquery.datetimepicker.css"/>
    <script src="{{ base_url() }}/assets/js/jquery.datetimepicker.full.js"></script>

    <script>
        /*jslint browser:true*/
        /*global jQuery, document*/

        jQuery(document).ready(function () {
            'use strict';

            jQuery('#filter-date, #search-from-date, #search-to-date').datetimepicker();
        });
    </script>
{% endblock %}