<!--Begin::Section-->

<div class="row">
  <div class="col-md-3" style="margin-left:-17px"> 
    
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet__body">
      <div class="m-widget17">
        <div class="m-widget17__stats">
          <div class="m-widget17__items m-widget17__items-col1">
            <div class="m-widget17__item" style="height:70px; margin-top:-25px"> <span class="m-widget17__subtitle" style="padding-top:12px"> {{ adminLang.dashboard_no_of_visitors }} </span> <span class="m-widget17__desc" style="font-size:15px"> 15 </span> </div>
            <div class="m-widget17__item" style="height:70px"> <span class="m-widget17__subtitle" style="padding-top:12px"> {{ adminLang.dashboard_no_of_seat }} </span> <span class="m-widget17__desc" style="font-size:15px"> 25 </span> </div>
          </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-2"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-brand ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> {{ total_members }} <small> {{ adminLang.dashboard_all_members_txt}}</small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-2"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> {{ all_sale }} <small> {{ adminLang.dashboard_all_sale_txt }} </small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-2"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> {{ section_2_total_events }} <small> All Events </small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
  <div class="col-md-3" style="margin-left:17px"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-danger ">
      <div class="m-portlet__body">
        <div class="m-widget26">
          <div class="m-widget26__number"> {{ section_2_total_orders }} <small> All Orders </small> </div>
          <div class="m-widget26__chart" style="height:150px; width: 220px;"> </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/Inbound Bandwidth--> 
  </div>
</div>
<!--End::Section--> 