  
            <!-- Home Content Section Start Here 
  		    ==================================================--> 
           <div class="homeTopcontent">
           	<div class="slider">
						<!--Slider start here -->
						
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						{% if homeSliders|length >  0 %}
							  <ol class="carousel-indicators">
								  {% for slider in homeSliders %}  
										<li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index -1 }} " {% if loop.index == 1 %}  class="active" {% endif %}></li>
								  
								  {% endfor %} 	
						{% else %}
										 
						{% endif %}				
							  </ol>
							<div class="carousel-inner" role="listbox">
											{% if homeSliders|length >  0 %}
																{% for slider in homeSliders %} 
																		<div class="carousel-item  {% if loop.index == 1 %}  active {% endif %}">
																		  <img class="d-block img-fluid"  src="{{sliderImgURL}}{{slider.slider_picture}}" alt="First slide">
																		  <div class="carousel-caption d-none d-md-block">
																			 {{slider.description|raw}}
																			
																		   <a href="{{slider.redirect_link}}">réservez dès maintenant</a>
																		  </div>
																		</div>
																
															   {% endfor %}
											 {% else %} 										
														<div class="carousel-item active">
															  <img class="d-block img-fluid"  src="{{ base_url() }}/assets/assets/img/slider-1.png" alt="First slide">
																  <div class="carousel-caption d-none d-md-block">
																	<h3>SHLOMI<br>SHABAT  </h3>
																	<p>Samedi 14 Avril 2018 - 21h30</p>
																	<h4>CESAREE AMPHITHEATRE</h4>
																	
																   <a href="{{ base_url() }}/theater-comedy-01">réservez dès maintenant</a>
																  </div>
															</div>					  
											  {% endif %} 				
							</div>
						 
						</div>   
		 
            </div>
            <div class="directaccess">
            	<h3>direct access</h3>
                <div class="directaccessCol">
							<form method="get" action="mysearch">
									<div class="select-style">
									<select name="type">
										<option value="" >Par événement</option>
											{% if searchCateogories|length >  0 %}
											  {% for event in searchCateogories %}  
												<option value="{{event.id}}" >{{event.name}}</option> 
												{% endfor %}
											{% endif %}
									</select>
									</div>
									<div class="select-style">
									<select name="location">
										<option value="" >Par ville</option>
										{% if city|length >  0 %}
											  {% for ct in city %}  
												<option value="{{ct.id}}" >{{ct.name}}</option> 
												{% endfor %}
											{% endif %}
									</select>
										 <i class="fas fa-map-marker-alt"></i>
									</div>                  
									<div class="inputrow" id="filters">
										<label><input type="text" placeholder="Par date" name="filter-date" id="filter-date"> <i class="far fa-calendar-alt"></i> </label>
									</div>
									<button  class="dabtn" >c’est parti</button>
									 
							</form>
                </div>
                <div class="pictosCon">
                	<ul>
                    	<li><a href="{{ base_url() }}/do-not-miss"><img src="{{ base_url() }}/assets/assets/img/psa.png" width="37" height="39"> <br> a ne pas manquer</a></li>
                    	<li><a href="{{ base_url() }}/event-day"><img src="{{ base_url() }}/assets/assets/img/hui.png" width="37" height="39"> <br> aujourd’hui on sort</a></li>
                    	<li><a href="{{ base_url() }}/order"><img src="{{ base_url() }}/assets/assets/img/spec.png" width="37" height="39"> <br> cadeau  spectacle</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- Home Content  Section End Here 
  		    ==================================================--> 
