<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Cultur Access</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
		 
						 <li><a href="{{ base_url() }}/theater-comedy">Théâtre / Humour</a></li>
                    	<li><a href="{{ base_url() }}/concerts-musique">Concerts / Musique</a></li>
                    	<li><a href="{{ base_url() }}/opera-danse" class="active">Opera / Danse</a></li>
                    	<li><a href="{{ base_url() }}/culture-expos">culture / Expos</a></li>
                    	<li><a href="{{ base_url() }}/tourisme-visite-guide">Tourisme / visite guidée</a></li>
                    	<li><a href="{{ base_url() }}/sports-loisirs">sports / loisirs</a></li>
                    	<li><a href="javascript:void()" data-toggle="modal" data-target="#Modal6">Le cadeau spectacle</a></li>
                    	<li><a href="{{ base_url() }}/culturaccess-community">la communauté cultur<span>access</span></a></li>
        </ul>
        
      </div>
 </nav>