{% extends "admin/layouts/layout-admin.twig" %}


{% block maincontent %}
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
     
      
    </style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title "> {{ title }} </h3>
    </div>
    <div> </div>
  </div>
</div>
<!-- END: Subheader -->

<div class="m-content"> 
  
  <!--Begin::Section-->
  <div class="row">
    <div class="col-xl-12"> 
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title"> <span class="m-portlet__head-icon m--hide"> <i class="la la-gear"></i> </span>
              <h3 class="m-portlet__head-text"> {{ title }} </h3>
            </div>
          </div>
        </div>
        <!--begin::Form-->
        <form class="m-form" id="form_add_community_add">
          <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">
              
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label" for="">Title</label>
                  <textarea name="title" id="summernote_title" class="form-control"  rows="2"></textarea>
                  </div>
                
              </div>
              
              <div class="row">
                <div class="form-group  col-md-12" id="m_summernote_1_div">
                  <label class="control-label" for="">Shor Description</label>
                  <textarea class="form-control summernote1" id="m_summernote_1" name="short_description" rows="1"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="form-group  col-md-12" id="m_summernote_2_div">
                  <label class="control-label" for="">Full Description</label>
                  <textarea class="form-control summernote2" id="m_summernote_2" name="full_description" rows="1"></textarea>
                </div>
              </div>
              
			  <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label" for="">Display order</label>
                  <input type="number" class="form-control" id="display_order" name="display_order" placeholder="Display Order" value="0">
                  <span class="help-block "></span> </div>
                <div class="form-group col-md-6">
                  <label class="control-label" >Status</label>
          <select name="status" id="status" class="form-control">
		   <option value="1">Active</option>
		   <option value="0">Inactive</option>
		  </select>
                  <span class="help-block "></span> </div>
              </div>
              
              <div class="" id="mesg_div"></div>
            </div>
			
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
			
              <div class="row">
			  
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                  <button type="button" class="btn btn-primary" onclick="return addCommunityPage();">{{ adminLang.common_save_changes_txt }}</button>
                  <button type="button" class="btn btn-secondary" onclick="history.back(-1)">{{ adminLang.common_cancel}}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        
        <!--end::Form--> 
      </div>
      <!--end::Portlet--> 
      
      <!--begin::Portlet--> 
      
      <!--end::Portlet--> 
    </div>
  </div>
</div>

<!-- Modal --> 

<!-- Modal --> 
<!-- Model --> 

<!-- Start Model --> 

<!-- End Model --> 
{% endblock %}
{% block footerscripts %} 
<!--begin::Page Vendors --> 
{% include "admin/Auditorium/lang/lang.twig" %}
<script src="{{ base_url() }}/assets/admin/dynamic_datatables/data-ajax-admin-community-page.js" type="text/javascript"></script> 
<script>

$('.summernote1').summernote({
height: 250,
enterHtml: '<p><br></p>',
toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
	]
});
$('.summernote2').summernote({
height: 500,
enterHtml: '<p><br></p>',
toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
	]
});
$('#summernote_title').summernote({
enterHtml: '<p><br></p>',
  toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
  ]
});
</script>

<!--end::Page Snippets --> 
<!--   {% block addfooter %}{% endblock %} --> 
{% endblock %} 