 <!-- Carousel Section Start Here    		    ==================================================--> 
 <div class="ligneSection">
             <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>vibrer, s’exalter,  <span>aimer la vie !</span></h2>
                    </div> 
                    
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-8.jpg"></div>
                                <div class="lignedetails">
                                	<h1>PARC MINI ISRAEL <span>Billets coupe file</span></h1>                                    
                                    <p><span>latrun</span> à partir du 14/06/2018</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-9.jpg"></div>
                                <div class="lignedetails">
                                	<h1>MaccabiTelAviv VS Betar Jerusalem BLOOMFIEL STADIUM</h1>                                    
                                    <p><span>bloomfiel stadium</span> le 17/02/2018</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-10.jpg"></div>
                                <div class="lignedetails">
                                	<h1>MEYMADION PARC D'ATTRACTION <span>Entrées coupe file</span></h1>                                    
                                    <p><span>TEL AVIV</span>le 26/08/2018 à 20h</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>                        
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-11.jpg"></div>
                                <div class="lignedetails">
                                	<h1>Exposition Louise Bourgeois <span>Billets coupe file</span></h1>                                    
                                    <p><span>musée eretz TEL AVIV</span> du 07/09/ au 10/09/2018</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>
                        
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-8.jpg"></div>
                                <div class="lignedetails">
                                	<h1>PARC MINI ISRAEL <span>Billets coupe file</span></h1>                                    
                                    <p><span>latrun</span> à partir du 14/06/2018</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>                        
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-10.jpg"></div>
                                <div class="lignedetails">
                                	<h1>MEYMADION PARC D'ATTRACTION <span>Entrées coupe file</span></h1>                                    
                                    <p><span>TEL AVIV</span>le 26/08/2018 à 20h</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>  
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-9.jpg"></div>
                                <div class="lignedetails">
                                	<h1>MaccabiTelAviv VS Betar Jerusalem BLOOMFIEL STADIUM</h1>                                    
                                    <p><span>bloomfiel stadium</span> le 17/02/2018</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>                      
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-11.jpg"></div>
                                <div class="lignedetails">
                                	<h1>Exposition Louise Bourgeois <span>Billets coupe file</span></h1>                                    
                                    <p><span>musée eretz TEL AVIV</span> du 07/09/ au 10/09/2018</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>
              		</div>                     
                </div>
             </div>
        	</div>
 <!-- Carousel Section End Here  ==================================================--> 	