
{% extends "public/layouts/layout-public.twig" %}
{% block seotag %}
	<title>{{metaTitle}}</title>
    <meta name="description" content="{{metaDescription}}">
{% endblock %} 
{% block maincontent %}

  <!--  Le cadeau spectacle Section Start Here
  		    ==================================================-->
    <div class="lcsSection">

        <!-- Pagination  Section Start Here
          ==================================================-->
        <div class="paginationCon">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li> |</li>
                            <li>Contactez nous</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination Section End Here
          ==================================================-->
<div class="contact_element">
	<div class="contact_element_gray">
		<h3>être à votre écoute... ce ne sont pas que des mots</h3>
<p>Nous contacter doit etre facile et fluide. Nous nous engageons à faire notre meilleur effort pour vous répondre vite
et accéder le mieux possible à votre requête. </p>
<p>Vous êtes notre raison d’être… Nous ne l’oublions jamais .</p>  
	</div>
	<div class="contact_bg">
	<div class="d-flex ">
		<div class="col-md-6">
			<div class="contact_address">
				<span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 578.106 578.106" style="enable-background:new 0 0 578.106 578.106;" xml:space="preserve" width="512px" height="512px">
		<g>
		<path d="M577.83,456.128c1.225,9.385-1.635,17.545-8.568,24.48l-81.396,80.781    c-3.672,4.08-8.465,7.551-14.381,10.404c-5.916,2.857-11.729,4.693-17.439,5.508c-0.408,0-1.635,0.105-3.676,0.309    c-2.037,0.203-4.689,0.307-7.953,0.307c-7.754,0-20.301-1.326-37.641-3.979s-38.555-9.182-63.645-19.584    c-25.096-10.404-53.553-26.012-85.376-46.818c-31.823-20.805-65.688-49.367-101.592-85.68    c-28.56-28.152-52.224-55.08-70.992-80.783c-18.768-25.705-33.864-49.471-45.288-71.299    c-11.425-21.828-19.993-41.616-25.705-59.364S4.59,177.362,2.55,164.51s-2.856-22.95-2.448-30.294    c0.408-7.344,0.612-11.424,0.612-12.24c0.816-5.712,2.652-11.526,5.508-17.442s6.324-10.71,10.404-14.382L98.022,8.756    c5.712-5.712,12.24-8.568,19.584-8.568c5.304,0,9.996,1.53,14.076,4.59s7.548,6.834,10.404,11.322l65.484,124.236    c3.672,6.528,4.692,13.668,3.06,21.42c-1.632,7.752-5.1,14.28-10.404,19.584l-29.988,29.988c-0.816,0.816-1.53,2.142-2.142,3.978    s-0.918,3.366-0.918,4.59c1.632,8.568,5.304,18.36,11.016,29.376c4.896,9.792,12.444,21.726,22.644,35.802    s24.684,30.293,43.452,48.653c18.36,18.77,34.68,33.354,48.96,43.76c14.277,10.4,26.215,18.053,35.803,22.949    c9.588,4.896,16.932,7.854,22.031,8.871l7.648,1.531c0.816,0,2.145-0.307,3.979-0.918c1.836-0.613,3.162-1.326,3.979-2.143    l34.883-35.496c7.348-6.527,15.912-9.791,25.705-9.791c6.938,0,12.443,1.223,16.523,3.672h0.611l118.115,69.768    C571.098,441.238,576.197,447.968,577.83,456.128z" fill="#FFFFFF"/>
	</g>

</svg></span>
					<div class="contact_right">
					<h4>par téléphone</h4>
					<p><span><i class="fas fa-check"></i></span> d’Israel : 0733-202-400</p>
					<p><span><i class="fas fa-check"></i></span> de l’étranger : +972 733 202 400</p>	
					</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="contact_address">
				<span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 54.757 54.757" style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve" width="512px" height="512px">
<path d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952  L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7  S31.416,26,27.557,26z" fill="#FFFFFF"/></span>
					<div class="contact_right">
					<h4>nos bureaux</h4>
					<p>53 Ben Yehuda  - Tel Aviv Yaffo Comacom/CulturAccess</p>
					
					</div>
			</div>
		</div>
	</div>
	
	<div class="contact_form">
			<div class="contact_form_heading">
				<h3>votre demande par  email</h3>
			</div>
		<form id="cntform" name="cntform" onsubmit="return Email_Function()" method="get">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="firstname" Placeholder="Nom*">
                    </div>
                     <div class="form-group">
                        <input type="text" name="lastname" Placeholder="Prénom*">
                    </div>
                    <div class="form-group">
                        <input type="mail" name="email" Placeholder="Email*">
                    </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group">
				<textarea placeholder="Merci de détailler votre requête. Réponse rapide garantie." name="message"></textarea>
			</div>
                </div>
                
            </div>
			
			<div class="form-group">
				<input type="submit" value="envoyer" name="" class="lphinfobtn" data-toggle="modal"    />
				<div id="reg_result" style="text-align:center;"></div>
			</div>
		</form>
	</div>
</div>

</div>

 <!-- Contact us popup -->
<div class="modal fade contact_popup" id="Modal5" tabindex="-1" role="dialog"  data-toggle="modal" data-target="#Modal5"   aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content pay_element">
      
      <div class="modal-body modal_block">
        <div class="">
			<div class="modal_block-content">
			<h4><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" width="512px" height="512px">


		<path d="M83.578,167.256H16.716C7.524,167.256,0,174.742,0,183.971v300.881c0,9.225,7.491,16.713,16.716,16.713h66.862    c9.225,0,16.716-7.489,16.716-16.713V183.971C100.294,174.742,92.769,167.256,83.578,167.256z" fill="#2b2b2b"/>

		<path d="M470.266,167.256c-2.692-0.456-128.739,0-128.739,0l17.606-48.032c12.148-33.174,4.283-83.827-29.424-101.835    c-10.975-5.864-26.309-8.809-38.672-5.697c-7.09,1.784-13.321,6.478-17.035,12.767c-4.271,7.233-3.83,15.676-5.351,23.696    c-3.857,20.342-13.469,39.683-28.354,54.2c-25.952,25.311-106.571,98.331-106.571,98.331v267.45h278.593    c37.592,0.022,62.228-41.958,43.687-74.749c22.101-14.155,29.66-43.97,16.716-66.862c22.102-14.155,29.66-43.97,16.716-66.862    C527.572,235.24,514.823,174.792,470.266,167.256z" fill="#2b2b2b"/>

</svg>à très vite !</h4>				
				<div class="actionsection actionsection_popup">
				<p>Nous vous confirmons la prise en compte de votre demande. </p>
				<p>Une réponse très rapide sera apportée à votre requête.</p>
				
				<div class="d-flex">
				<div class="col-md-6"><a href="javascript:void();" data-dismiss="modal" class="dark_pin-btn">quitter le site</a></div>
				<div class="col-md-6"><a href="{{ base_url() }}/home" class="dark_pin-btn">retour à l’accueil</a></div>
				</div>
       
    </div>
				
			</div>
		</div>
		
      </div>
     
    </div>
  </div>
</div>

  
		{% endblock %}
{% block footerscripts %}
 
    <script src="{{ base_url() }}/assets/js/owl.carousel.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/js/jquery.datetimepicker.css"/>
    <script src="{{ base_url() }}/assets/js/jquery.datetimepicker.full.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
    <script src="{{ base_url() }}/assets/js/validation.js"></script>
  
<script>
$(document).ready(function() {

        $('#cntform').validate({
            rules: {


                firstname: {
                    required: true

                },
                lastname: {
                    required: true

                },
                address: {
                    required: true

                },

                email: {
                    required: true,
                    email: true
                },
                telephon: {
                    required: true


                },
                message: {
                    required: true


                },
                person_name: {
                    required: true

                },

                password: {
                    required: true

                },
                password_confirm : {
                    required: true,
                    equalTo: '#password'
                },
                confirm_email : {
                    required: true,
                    equalTo: '#email'
                },
                
                
                country: {
                    required: true

                },

                ville: {
                    required: true

                },
				day: {
                    required: true

                },
				month: {
                    required: true

                },
				year: {
                    required: true

                },
            },
            messages: {
                firstname:
                    {
                        required: "Champs requis",
                    },
                lastname:
                    {
                        required: "Champs requis",
                    },
                address:
                    {
                        required: "Champs requis",
                    },

                email: {
                    required: "Champs requis",
                    email: "Enter Valid Email"
                },
                telephon:
                    {
                        required: "Champs requis",
                    },
                message:
                    {
                        required: "Champs requis",
                    },
                person_name:
                    {
                        required: "Champs requis",
                    },
                password:
                    {
                        required: "Champs requis",
                    },
                password_confirm:
                    {
                        required: "Champs requis",
                        equalTo:" Le mot de passe n'est pas identique"
                    },
                confirm_email:
                    {
                        required: "Champs requis",
                        equalTo:"Email not match"
                    },
                c_password:
                    {
                        required: "Champs requis",
                    },
                
                ville:
                    {
                        required: "Champs requis",
                    },
				day: {
                    required: "day is required",

                },
				month: {
                    required:"Month is required",

                },
				year: {
                    required: "Year is required",

                },
					

            }
        });
        
    });
	
	
	 function Email_Function(){
	 
		 			
							
	 if (!$("#cntform").validate().form()) {

	 }
	 else{
				 	
	     //alert('Welcome to full registration');
         var mydata = $('#cntform').serialize();
		 var redURL = $("#cntform").val();
        // alert(mydata);
	    $.ajax({
        type: "get",
        url: '{{base_url()}}/contact_email',
        data:mydata ,
        success: function( data ) {
					//var obj = jQuery.parseJSON( data);
					var obj = data; 
					console.log(obj.status);console.log(obj.msg);
					if(obj.status ===  '1'){ 
					        
							 	$('#Modal5').modal("show");	
							 
							 //$("#reg_result").html('<div class="alert alert-info" role="alert"><strong></strong> '+obj.msg+'.</div>');
							 //window.location.href = redURL; 
					}else{
						$("#reg_result").html('<div class="alert alert-danger" role="alert"><strong></strong> '+obj.msg+'.</div>');
					}
					
					return false;
				}
		});
		return false;
	 }
   }
	
	
</script>
	
{% endblock %}