{% extends "admin/layouts/layout-admin.twig" %}


{% block maincontent %} 

<link href="{{ base_url() }}/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
<link href="{{ base_url() }}/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.has_error{
  border-color:red !important;
}
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title "> {{ title }} </h3>
    </div>
    <div>  </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content"> 
  
  <!--Begin::Section-->
  <div class="row">
    <div class="col-xl-12"> 
      <!--begin::Portlet-->
      <div class="m-portlet " id="m_portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title"> <span class="m-portlet__head-icon"> <i class="flaticon-map-location"></i> </span>
              <h3 class="m-portlet__head-text"> {{ adminLang.member_list_txt }} </h3>
			 
            </div>
          </div>
          <div class="m-portlet__head-tools">
             <a href="javascript:void(0);"  class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" data-toggle="modal" data-target="#modal-add-member">
												<span>
													<i class="la la-plus"></i>
													<span>
														{{ adminLang.common_add_new_txt }}
													</span>
												</span>
											</a>
											<div class="m-separator m-separator--dashed d-xl-none"></div>
          </div>
        </div>
		<div class="m-portlet__body">
		
				<!--begin: Search Form -->
								<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
									<div class="row align-items-center">
										<div class="col-xl-8 order-2 order-xl-1">
											<div class="form-group m-form__group row align-items-center">
												<div class="col-md-4">
													<div class="m-form__group m-form__group--inline">
														<div class="m-form__label">
															<label>
																{{ adminLang.common_status_txt}}:
															</label>
														</div>
														<div class="m-form__control">
															<select class="form-control m-bootstrap-select" id="m_form_status">
																<option value="">
																	{{ adminLang.common_all_txt}}
																</option>
																<option value="1">
																	{{ adminLang.common_active_txt}}
																</option>
																<option value="0">
																	{{ adminLang.common_inactive_txt }}
																</option>
															</select>
														</div>
													</div>
													<div class="d-md-none m--margin-bottom-10"></div>
												</div>
												
												<div class="col-md-8">
													<div class="m-input-icon m-input-icon--left">
														<input type="text" class="form-control m-input" placeholder="{{ adminLang.common_search_txt }}..." id="generalSearch">
														<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-4 order-1 order-xl-2 m--align-right">
											<input type="hidden" name="table_name" id="table_name" value="users">
								<select class="bs-select form-control drop_down_options" name="selected_fields_edit" onchange="edit_selected_rows_fields((this.value))"  id="selected_fields_edit" style="margin:0; float:left">
								   <option value=''>{{ adminLang.common_select_option_txt }}</option>
								   <option value='change_status'>{{ adminLang.common_change_status_txt }}</option>
								   <option value='delete_selected'>{{ adminLang.common_delete_selected_txt }}</option>
								</select>	
										</div>
									</div>
								</div>
								<br>
								
								<!--end: Search Form -->
		                        <!--begin: Datatable -->
								<div class="m_datatable_mem" id="ajax_data"></div>
								<!--end: Datatable -->
												
		</div>
        
      </div>
      <!--end::Portlet--> 
    </div>
  </div>
  
</div>

<!-- Modal --> 

<div class="modal modal-danger fade" id="modal-delete">
  <div class="modal-dialog">
    <div class="modal-content">
    <form name="form_del_data" id="form_del_data" method="post"  autocomplete="Off">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title del_title"></h4>
      </div>
      <div class="modal-body">
        <p class="del_text"></p>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="id" id="id">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{ adminLang.common_close_txt }}</button>
        <button type="button" class="btn btn-danger" onClick="return delete_data();">{{ adminLang.common_delete_txt }}</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
 <!-- Modal --> 

 <!-- Model Start -->
<div class="modal fade" id="modal-add-member">
  <div class="modal-dialog">
    <div class="modal-content">
    <form name="form_add_member" id="form_add_member" method="post"  autocomplete="Off">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ adminLang.member_add_txt }}</h4>
      </div>
      <div class="modal-body">
	  <div class="" id="mesg_div"></div>
	  <div class="form-group ">
          <label class="control-label" id="label-photo">{{ adminLang.member_pic_txt }}</label>
          <input type="file" class="form-control" id="user_picture" name="user_picture" >
          <span class="help-block duplicate error">{{ adminLang.member_pic_dimensions_txt }}</span>
        </div>
        <div class="form-group">
          <label class="control-label" for="">{{ adminLang.member_name_label_txt }}</label>
          <input type="text" class="form-control" id="artist_name" name="artist_name" placeholder="{{ adminLang.member_name_label_txt }}">
          <span class="help-block "></span>
        </div>
        <div class="form-group">
          <label class="control-label" for="">{{ adminLang.member_username_label_txt }}</label>
          <input type="text" class="form-control" id="artist_username" name="artist_username" placeholder="{{ adminLang.member_username_label_txt }}">
          <span class="help-block "></span>
        </div>
        <div class="form-group">
          <label class="control-label" for="">{{ adminLang.member_email_label_txt }}</label>
          <input type="text" class="form-control" id="artist_email" name="artist_email" placeholder="{{ adminLang.member_email_label_txt }}">
          <span class="help-block "></span>
        </div>
        
		<div class="form-group ">
          <label class="control-label" >{{ adminLang.member_txt }} {{ adminLang.common_status_txt}}</label>
          <select name="status" id="status" class="form-control">
		   <option value="1">{{ adminLang.common_active_txt }}</option>
		   <option value="0">{{ adminLang.common_inactive_txt }}</option>
		  </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ adminLang.common_close_txt }}</button>
		<input type="hidden" name="type" value="Member">
        <button type="button" class="btn btn-primary" onclick="return addMember();">{{ adminLang.common_save_changes_txt }}</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
   <!-- /.modal-dialog -->
</div>

<!-- Model End -->
<!-- Model Start -->
<div class="modal fade" id="modal-edit-member">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form name="form_add_member_e" id="form_add_member_e" method="post"  autocomplete="Off">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ adminLang.member_update_txt }}</h4>
        </div>
        <div class="modal-body">
          <div class="" id="mesg_div_e"></div>
          <div class="row">
            <div class="form-group col-md-6" id="photo-preview-edit">
              <label class="control-label ">{{ adminLang.member_pic_txt }}</label>
              <div class="col-md-9">{{ adminLang.common_no_photo_txt }}<span class="help-block"></span> </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" id="label-photo">{{ adminLang.member_pic_txt }}</label>
              <input type="file" class="form-control" id="user_picture_e" name="user_picture" >
              <span class="help-block duplicate error">{{ adminLang.member_pic_dimensions_txt }}</span> </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_name_label_txt }}</label>
              <input type="text" class="form-control" id="artist_name_e" name="artist_name" placeholder="{{ adminLang.member_name_label_txt }}">
              <span class="help-block "></span> </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_username_label_txt }}</label>
              <input type="text" class="form-control" id="artist_username_e" name="artist_username" placeholder="{{ adminLang.member_username_label_txt }}">
              <span class="help-block "></span> </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_email_label_txt }}</label>
              <input type="text" class="form-control" id="artist_email_e" name="artist_email" placeholder="{{ adminLang.member_email_label_txt }}">
              <span class="help-block "></span> </div>
            <div class="form-group col-md-6">
              <label class="control-label" >{{ adminLang.member_txt }} {{ adminLang.common_status_txt}}</label>
              <select name="status" id="status_e" class="form-control">
                <option value="1">{{ adminLang.common_active_txt }}</option>
                <option value="0">{{ adminLang.common_inactive_txt }}</option>
              </select>
            </div>
          </div>
          
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_first_name_txt }}</label>
              <input type="text" class="form-control" id="first_name_e" name="first_name" placeholder="{{ adminLang.member_first_name_txt }}">
              <span class="help-block "></span> </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_last_name_txt }}</label>
              <input type="text" class="form-control" id="last_name_e" name="last_name" placeholder="{{ adminLang.member_last_name_txt }}">
              <span class="help-block "></span> </div>
          </div>
          
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_address_1_txt }}</label>
              <input type="text" class="form-control" id="address_1_e" name="address_1" placeholder="{{ adminLang.member_address_1_txt }}">
              <span class="help-block "></span> </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_address_2_txt }}</label>
              <input type="text" class="form-control" id="address_2_e" name="address_2" placeholder="{{ adminLang.member_address_2_txt }}">
              <span class="help-block "></span> </div>
          </div>
          
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_street_txt }}</label>
              <input type="text" class="form-control" id="street_e" name="street" placeholder="{{ adminLang.member_street_txt }}">
              <span class="help-block "></span> </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_postal_code_txt }}</label>
              <input type="text" class="form-control" id="postal_code_e" name="postal_code" placeholder="{{ adminLang.member_postal_code_txt }}">
              <span class="help-block "></span> </div>
          </div>
          
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_phone_no_txt }}</label>
              <input type="text" class="form-control" id="phone_no_e" name="phone_no" placeholder="{{ adminLang.member_phone_no_txt }}">
              <span class="help-block "></span> </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_dob_txt }}</label>
              <input type="text" class="form-control datepicker_class" id="dob_e" name="dob" placeholder="{{ adminLang.member_dob_txt }}" readonly>
              <span class="help-block "></span> </div>
          </div>
          
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_country_txt }}</label>
              <input type="text" class="form-control" id="country_e" name="country" placeholder="{{ adminLang.member_country_txt }}">
              <span class="help-block "></span> </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="">{{ adminLang.member_ville_txt }}</label>
              <input type="text" class="form-control" id="ville_e" name="ville" placeholder="{{ adminLang.member_ville_txt }}">
              <span class="help-block "></span> </div>
          </div>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ adminLang.common_close_txt }}</button>
          <input type="hidden" name="id" id="id_e" >
          <input type="hidden" name="user_picture_old" id="user_picture_old">
          <button type="button" class="btn btn-primary" onclick="return updateMember();">{{ adminLang.common_save_changes_txt }}</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<div class="modal fade" id="modal-view-member">
   <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <form name="form_add_member_v" id="form_add_member_v" method="post"  autocomplete="Off">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ adminLang.member_update_txt }}</h4>
      </div>
      <div class="modal-body">
      <div class="row">
	 
	  <div class="form-group col-md-6" id="photo-preview-view">
                <label class="control-label ">{{ adminLang.member_pic_txt }}</label>
                <div class="col-md-9"></div>
         </div>
       
        <div class="form-group col-md-6">
          <label class="control-label" for="">{{ adminLang.member_name_txt }}</label><br>
          <span id="artist_name_v"></span>
       
         </div>
        </div>
        <div class="row">
        
        <div class="form-group col-md-6">
          <label class="control-label" for="">{{ adminLang.member_username_txt }}</label>
          <br>
          <span id="artist_username_v"></span>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="">{{ adminLang.member_email_txt }}</label><br>
          <span id="artist_email_v"></span>
        
        </div>
        </div>
        <div class="row">
        
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_txt }} {{ adminLang.common_status_txt}}</label><br>
          <span id="status_v" ></span>
        </div>
		
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.common_credit_txt}}</label><br>
          <span id="credit_v" ></span>
        </div>
        </div>
        <div class="row ">
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_first_name_txt}}</label><br>
          <span id="first_name_v" ></span>
        </div>
		
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_last_name_txt}}</label><br>
          <span id="last_name_v" ></span>
        </div>
        </div>
        
        <div class="row ">
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_address_1_txt}}</label><br>
          <span id="address_1_v" ></span>
        </div>
		
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_address_2_txt}}</label><br>
          <span id="address_2_v" ></span>
        </div>
        </div>
        
        <div class="row ">
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_street_txt}}</label><br>
          <span id="street_v" ></span>
        </div>
		
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_postal_code_txt}}</label><br>
          <span id="postal_code_v" ></span>
        </div>
        </div>
        <div class="row ">
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_phone_no_txt}}</label><br>
          <span id="phone_no_v" ></span>
        </div>
		
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_dob_txt}}</label><br>
          <span id="dob_v" ></span>
        </div>
        </div>
        
        <div class="row ">
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_country_txt}}</label><br>
          <span id="country_v" ></span>
        </div>
		
		<div class="form-group col-md-6">
          <label class="control-label" >{{ adminLang.member_ville_txt}}</label><br>
          <span id="ville_v" ></span>
        </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ adminLang.common_close_txt }}</button>
		
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
   <!-- /.modal-dialog -->
</div>
<!-- Model End -->
{% endblock %}
{% block footerscripts %} 
<!--begin::Page Vendors --> 
{% include "admin/Member/lang/lang.twig" %}
<script src="{{ base_url() }}/assets/admin/dynamic_datatables/data-ajax-admin-member.js" type="text/javascript"></script>
<script src="{{ base_url() }}/assets/admin/demo/default/custom/components/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script> 
<!--end::Page Snippets --> 
<!--   {% block addfooter %}{% endblock %} --> 
{% endblock %} 