{% extends "admin/layouts/layout-admin.twig" %}


{% block maincontent %} 

<link href="{{ base_url() }}/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
<link href="{{ base_url() }}/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.has_error{
  border-color:red !important;
}
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title "> {{ title }} for {{eventname}} in {{auditoriumname}}</h3>
    </div>
    <div>  </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content"> 
  <!--Begin::Section-->
  <div class="row">
    <div class="col-xl-12"> 
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__body">
           <table class="table" > 
             <thead>
                <tr>
                    <th>ID</th>
                    <th>Seat Number</th>
                    <th>Section</th>
                    <th>Range</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Actions</th>
                <tr/>
             </thead>
            <tbody>
            {% for seat in seats %}
            <tr class="view" id="show_{{seat.unique_id}}">
                <td>{{seat.unique_id}}</td>
                <td>{{seat.seat_number}}</td>
                <td>{{seat.category}}</td>
                <td>{{seat.row}}</td>
                <td class="seatprice" >{{seat.price}}</td>
                <td class="seatstatus" >{{seat.status}}</td>
                <td><a href="#"<i class="la la-edit" onclick="editseat({{seat.unique_id}});"></i></a></td>
            </tr>

            <tr class="edit" style="display:none" id="edit_{{seat.unique_id}}" class="editblock" >
                <td>{{seat.unique_id}}</td>
                <td>{{seat.name}}</td>
                <td>{{seat.area}}</td>
                <td>{{seat.row}}</td>
                <td><input type="text/" class="seatprice" value="{{seat.price}}"/></td>
                <td>
                    <select class="seatstatus">
                        <option value="standard">Standard</option>
                        <option value="reserve">Reserve</option>
                        <option value="invitation">Invitation</option>
                        <option value="operator">Operator</option>
                    </select>
                </td>
                <td><a href="#" class="btn btn-primary btn-sm" onclick="updateseat({{seat.unique_id}}, {{event_id}});">Save</a></td>
            </tr>
            {% endfor %}
            </tbody>
           </table> 
        </div>
      </div>
      <!--end::Portlet--> 
    </div>
  </div>
</div>
{% endblock %}
{% block footerscripts %} 
<!--begin::Page Vendors --> 
<script type="text/javascript">

    function editseat(id){
        var show = "#show_"+id;
        var edit = "#edit_"+id;
        $(show).hide();
        $(edit).show();

    }

    function updateseat(sid, evt){
        var show = "#show_"+sid;
        var rowid = "#edit_"+sid;
        var seat_price = $(rowid).find('.seatprice').val();
        var seat_status= $(rowid).find('.seatstatus').val();
        console.log(seat_price);
        console.log(seat_status);
        
        $.ajax({
            url : '/admin/events/updateseatalone/'+sid,
            method:'POST',
            data : { "price" : seat_price, "status" : seat_status, "event_id" : evt },
        }).done(function(data){
            console.log(data);

            $(show).find('.seatprice').text(seat_price);
            $(show).find('.seatstatus').text(seat_status);
            $(show).show().attr('style','border:2px solid #29c129');
            $(rowid).hide();
        });

    }
    
    $('table a').on('click' , function(e){
        e.preventDefault();
        return false;
    });

        
</script>
<!--end::Page Snippets --> 
<!--   {% block addfooter %}{% endblock %} --> 
{% endblock %} 

