{% extends "admin/layouts/layout-admin.twig" %}


{% block maincontent %} 

<link href="{{ base_url() }}/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
<link href="{{ base_url() }}/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.has_error{
  border-color:red !important;
}
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title "> {{ title }} </h3>
    </div>
    <div>  </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content"> 
    <h4>Seats for {{event_name}} in {{auditorium_name}}<h4> 
  <!--Begin::Section-->
  <div class="row">
    <div class="col-xl-12"> 
      <!--begin::Portlet-->
        
        {% for seat in seats %}
            <p>{{seat.name}}  {{seat.unique_id}} {{seat.status}}</p>
        {% endfor %}
        
      <!--end::Portlet--> 
    </div>
  </div>
</div>
{% endblock %}
{% block footerscripts %} 
<!--begin::Page Vendors --> 

<script src="{{ base_url() }}/assets/admin/dynamic_datatables/data-ajax-admin-category.js" type="text/javascript"></script>

<!--end::Page Snippets --> 
<!--   {% block addfooter %}{% endblock %} --> 
{% endblock %} 

