{% extends "public/layouts/layout-public.twig" %}
{% block maincontent %} 
   <!-- Pagination  Section Start Here 
  		    ==================================================--> 
            <div class="paginationCon">
            	<ul>
                	<li><a href="{{ base_url()}}/home">Accueil</a></li>
                    <li> |</li> 
                    <li> A ne pas manquer</li>
                </ul>
            </div>
            <!-- Pagination Section End Here 
  		    ==================================================-->

    <!-- Ma Recherche  Section Start Here
     ==================================================-->
    <div class="marechercheCon">
        <h2>ma recherche</h2>
        <div class="blackTitle">
            <h4>théâtre | tel aviv | du 05 au 26 mars 2018</h4>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> modifier ma recherche </button>
        </div>
        <div class="bookBoxsection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bookBox">
                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-1.png"></a></div>
                            <div class="bookDetails">
                                <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                <p>Mercredi 7 mars à 20h</p>
                                <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                <div class="reserverbtn"><a href="{{ base_url() }}/theater-comedy-01" >réserver</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bookBox">
                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-2.png"></a></div>
                            <div class="bookDetails">
                                <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                <p>Mercredi 7 mars à 20h</p>
                                <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                <div class="reserverbtn"><a href="{{ base_url() }}/theater-comedy-01" >réserver</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bookBox">
                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-3.png"></a></div>
                            <div class="bookDetails">
                                <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                <p>Mercredi 7 mars à 20h</p>
                                <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                <div class="reserverbtn"><a href="{{ base_url() }}/theater-comedy-01" >réserver</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bookBox">
                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-4.png"></a></div>
                            <div class="bookDetails">
                                <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                <p>Mercredi 7 mars à 20h</p>
                                <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                <div class="reserverbtn"><a href="{{ base_url() }}/theater-comedy-01" >réserver</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bookBox">
                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-5.png"></a></div>
                            <div class="bookDetails">
                                <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                <p>Mercredi 7 mars à 20h</p>
                                <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                <div class="reserverbtn"><a href="{{ base_url() }}/theater-comedy-01" >réserver</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bookBox">
                            <div class="book"><a href="{{ base_url() }}/theater-comedy-01"><img src="{{ base_url() }}/assets/assets/img/book-6.png"></a></div>
                            <div class="bookDetails">
                                <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                <p>Mercredi 7 mars à 20h</p>
                                <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                <div class="reserverbtn"><a href="#" >réserver</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bookBox">
                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-7.png"></a></div>
                            <div class="bookDetails">
                                <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                <p>Mercredi 7 mars à 20h</p>
                                <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                <div class="reserverbtn"><a href="{{ base_url() }}/theater-comedy-01" >réserver</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bookBox">
                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-8.png"></a></div>
                            <div class="bookDetails">
                                <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                <p>Mercredi 7 mars à 20h</p>
                                <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                <div class="reserverbtn"><a href="{{ base_url() }}/theater-comedy-01" >réserver</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="pagelink">
                            <ul>
                                <li><a href="#"> < précédent</a></li>
                                <li><a href="#"> 1</a></li>
                                <li><a href="#"> 2</a></li>
                                <li><a href="#"> 3</a></li>
                                <li><a href="#">suivant > </a></li>
                            </ul>
                            <p>page 1 sur 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ma Recherche Section End Here
      ==================================================-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="directaccess">
                        <h3  id="exampleModalLabel">direct access</h3><button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="directaccessCol">
                            <div class="select-style">
                                <select name="">
                                    <option>par type d’évènement</option>
                                    <option>par type  1</option>
                                    <option>par type  2</option>
                                    <option>par type  3</option>
                                </select>
                            </div>
                            <div class="inputrow">
                                <input name="" type="text" placeholder="par ville"> <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="inputrow" id="filters">
                                <label><input type="text" placeholder="par ville" name="filter-date" class="filter-date"> <i class="far fa-calendar-alt"></i> </label>
                            </div>

                            <a href="#" class="dabtn">c’est parti</a>
                        </div>
                        <div class="pictosCon">
                            <ul>
                                <li><a href="#"><img src="{{ base_url() }}/assets/assets/img/psa.png" width="37" height="39"> <br> a ne pas manquer</a></li>
                                <li><a href="#"><img src="{{ base_url() }}/assets/assets/img/hui.png" width="37" height="39"> <br> aujourd’hui on sort</a></li>
                                <li><a href="#"><img src="{{ base_url() }}/assets/assets/img/spec.png" width="37" height="39"> <br> cadeau  spectacle</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block footerscripts %}


	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>	
	<script src="{{ base_url() }}/assets/js/owl.carousel.js"></script>
	
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/js/jquery.datetimepicker.css"/> 
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://jqueryui.com/resources/demos/datepicker/i18n/datepicker-fr.js"></script> 
	
	 <!-- <script src="{{ base_url() }}/assets/js/jquery.datetimepicker.full.js"></script>  -->
    
	<script>
    /*jslint browser:true*/
    /*global jQuery, document*/
    
    jQuery(document).ready(function () {
    'use strict';
    $( ".filter-date" ).datepicker( $.datepicker.regional[ "fr" ] ); 
	 
	
    jQuery(' #search-from-date, #search-to-date').datetimepicker({timepicker:false,formatDate:'Y/m/d',});
    });
    </script>
<style>
	.ui-widget{
		font-size: 14px;
	}
	.ui-datepicker table{
		font-size: 10px;
	}
	.ui-datepicker .ui-datepicker-header{
		padding: 0;
	}
	
	.ui-widget.ui-widget-content{
		width: 210px;
	}
</style>	
{% endblock %} 	