{% extends "public/layouts/layout-public.twig" %}
{% block maincontent %} 
    <!-- Pagination  Section Start Here 
  		    ==================================================--> 
            <div class="paginationCon">
            	<ul>
                	<li><a href="#">Accueil</a></li> 
                    <li> |</li> 
                    <li> A ne pas manquer</li>
                </ul>
            </div>
            <!-- Pagination Section End Here 
  		    ==================================================--> 
            
            <!-- A ne pas manquer  Section Start Here 
  		    ==================================================--> 
            <div class="marechercheCon">
                    
                 	<div class="blackTitle votreTitle">
                    	<h4>votre journée du 28/05/2018<span> L’équipe de CulturAccess vous propose un choix de sortie écclectique…  Nous espérons pouvoir partager avec vous nos coup de cœur et restons à l’écoute de vos suggestions .  </span></h4>
                         
                    </div>
                    <div class="bookBoxsection">
                        <div class="container">
                            <div class="row">
                            	<div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12">
                                	<div class="bookBox">
                                    	<div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-1.png"></a></div>
                                       <div class="bookDetails">
                                        <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                        <p>Mercredi 7 mars à 20h</p>
                                        <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                        <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                        <div class="reserverbtn"><a href="#"  data-toggle="modal" data-target="#exampleModal" >réserver</a>  </div>
                                        </div>
                                  </div>
                                </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                	<div class="bookBox">
                                    	<div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-2.png"></a></div>
                                       <div class="bookDetails">
                                        <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                        <p>Mercredi 7 mars à 20h</p>
                                        <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                        <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                         <div class="reserverbtn"><a href="#"  data-toggle="modal" data-target="#exampleModal" >réserver</a>  </div>
                                        </div>
                                  </div>
                                </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 halfcol">
                                        <div class="bookBox">
                                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-1.png"></a></div>
                                           <div class="bookDetails">
                                            <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                            <p>Mercredi 7 mars à 20h</p>
                                            <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                            <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                             <div class="reserverbtn"><a href="#"  data-toggle="modal" data-target="#exampleModal" >réserver</a>  </div>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 halfcol">
                                        <div class="bookBox">
                                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-2.png"></a></div>
                                           <div class="bookDetails">
                                            <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                            <p>Mercredi 7 mars à 20h</p>
                                            <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                            <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                             <div class="reserverbtn"><a href="#"  data-toggle="modal" data-target="#exampleModal" >réserver</a>  </div>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 fullcol">
                                	<div class="bookBox">
                                    	<div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-1.png"></a></div>
                                       <div class="bookDetails">
                                        <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                        <p>Mercredi 7 mars à 20h</p>
                                        <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                        <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                         <div class="reserverbtn"><a href="#"  data-toggle="modal" data-target="#exampleModal" >réserver</a>  </div>
                                        </div>
                                  </div>
                                </div>
                                </div>
                                 </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 halfcol">
                                        <div class="bookBox">
                                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-1.png"></a></div>
                                           <div class="bookDetails">
                                            <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                            <p>Mercredi 7 mars à 20h</p>
                                            <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                            <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                             <div class="reserverbtn"><a href="#"  data-toggle="modal" data-target="#exampleModal" >réserver</a>  </div>
                                            </div>
                                      </div>
                                    </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 halfcol">
                                        <div class="bookBox">
                                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-2.png"></a></div>
                                           <div class="bookDetails">
                                            <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                            <p>Mercredi 7 mars à 20h</p>
                                            <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                            <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                             <div class="reserverbtn"><a href="#"  data-toggle="modal" data-target="#exampleModal" >réserver</a>  </div>
                                            </div>
                                      </div>
                                    </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                	<div class="bookBox">
                                    	<div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-2.png"></a></div>
                                       <div class="bookDetails">
                                        <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                        <p>Mercredi 7 mars à 20h</p>
                                        <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                        <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                         <div class="reserverbtn"><a href="#"  data-toggle="modal" data-target="#exampleModal" >réserver</a>  </div>
                                        </div>
                                  </div>
                                </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 halfcol">
                                        <div class="bookBox">
                                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-1.png"></a></div>
                                           <div class="bookDetails">
                                            <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                            <p>Mercredi 7 mars à 20h</p>
                                            <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                            <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                            <div class="reserverbtn"><a href="#" >réserver</a></div>
                                            </div>
                                      </div>
                                    </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 halfcol">
                                        <div class="bookBox">
                                            <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-2.png"></a></div>
                                           <div class="bookDetails">
                                            <h1><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                                            <p>Mercredi 7 mars à 20h</p>
                                            <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                                            <div class="blockquoteText">
                                        	<p><a href="#">Contributrice : Guitel Benishay </a>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum...</p>
                                        </div>
                                             <div class="reserverbtn"><a href="#"  data-toggle="modal" data-target="#exampleModal" >réserver</a>  </div>
                                            </div>
                                      </div>
                                    </div>
                                    </div>
                                 </div> 
                                <div class="col-lg-12">
                                	 <div class="pagelink">
                                     	<ul>
                                        	<li><a href="#"> < précédent</a></li>
                                            <li><a href="#"> 1</a></li>
                                            <li><a href="#"> 2</a></li>
                                            <li><a href="#"> 3</a></li>
                                            <li><a href="#">suivant > </a></li>
                                        </ul>
                                        <p>page 1 sur 3</p>
                                     </div>
                                </div>                                 
                            </div>
                        </div>
                    </div>                 
            </div>
            <!-- A ne pas manquer Section End Here 
  		    ==================================================--> 
			 <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           
          <div class="modal-body">
           <div class="hantsoncopiemodel">
                    <div class="bookBox">
                    <div class="book"><a href="#"><img src="{{ base_url() }}/assets/assets/img/book-1.png"></a> <a href="#" class="encore"> > Encore +</a></div>
                         <div class="bookDetails">
                          <h1 id="exampleModalLabel"><a href="#">RENAUD HANTSON <span>Opera Rock </span></a></h1>
                          <p>Mercredi 7 mars à 20h</p>
                          <p>Centre Suzanne Dellal  <span>TEL AVIV</span></p>
                          <div class="blockquoteText">
                          <p><a href="#">Contributrice : Guitel Benishay </a> J’ai passée en revue toutes les vidéos YouTube et lu tous les post se rapportant à ce spectacle musical résolument orienté vers le rock.</p>
                          <p>Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
                      </div>
                          <div class="reserverbtn"><a href="#" >je réserve</a></div>
                          </div>
                    </div>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>                
                      
                </div>
          </div>
           
        </div>
      </div>
    </div> 
              
{% endblock %}
{% block footerscripts %}

	<script src="{{ base_url() }}/assets/js/owl.carousel.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/js/jquery.datetimepicker.css"/>   
   <script src="{{ base_url() }}/assets/js/jquery.datetimepicker.full.js"></script>

	<script>
    /*jslint browser:true*/
    /*global jQuery, document*/
    
    jQuery(document).ready(function () {
    'use strict';
    
    jQuery('#filter-date, #search-from-date, #search-to-date').datetimepicker();
    });
    </script>		 
{% endblock %} 	