<!-- Logos Section Start Here 
  		    ==================================================--> 
            <div class="logos">
           	  <h2>nos partenaires, nos soutiens</h2>
                <ul>
                	<li><a href="#"><img src="{{ base_url() }}/assets/assets/img/logo-1.png"></a></li>
                	<li><a href="#"><img src="{{ base_url() }}/assets/assets/img/logo-2.png"></a></li>
                	<li><a href="#"><img src="{{ base_url() }}/assets/assets/img/logo-3.png"></a></li>
                	<li><a href="#"><img src="{{ base_url() }}/assets/assets/img/logo-4.png"></a></li>
                	<li><a href="#"><img src="{{ base_url() }}/assets/assets/img/logo-5.png"></a></li>
                	<li><a href="#"><img src="{{ base_url() }}/assets/assets/img/logo-6.png"></a></li>
                	<li><a href="#"><img src="{{ base_url() }}/assets/assets/img/logo-7.png"></a></li>
                	<li><a href="#"><img src="{{ base_url() }}/assets/assets/img/logo-8.png"></a></li>
                </ul>
            </div>
            <!-- Logos Section End Here 
  		    ==================================================--> 
