{{cartItems|raw}}          
<!--							 
							<div class="carttable">
							
							{% if cartItems|length >  0 %}
							 {% for cart in cartItems %}  
									<div id="repeatble" >
										<div class="cartaction">
											<ul>
												<li><a href="#"><input name="" type="radio" value=""></a></li>
												<li><a href="#"><i class="fas fa-trash-alt"></i></a></li>
											</ul>
										</div>
										<div class="cartimg">
											<a href="#"><img src="{{cart.event_group_picture}}" ></a>
										</div>
										<div class="cartdetails">
											<div class="cartItem">
												<h2>Evenement</h2>
												<div class="evencon">
													<p>{{cart.event_group_picture}}</p>
												</div>
											</div>
											<div class="cartlefu">
												<h2>Lieu   </h2>
												<div class="evencon">
													<p>{{cart.event_auditorium_address}} {{cart.event_auditorium_address}} <br />{{cart.event_city}}</p>
												</div>
											</div>
											<div class="cartdate">
												<h2>  date </h2>
												<div class="evencon">
													<p>{{cart.event_date}}</p>
												</div>
											</div>
											<div class="cartnbre">
												<h2>Nbre de places </h2>
												<div class="evencon">
													<p>{{cart.qtx}} places</p>
												</div>
											</div>
											<div class="cartcat">
												<h2>Categorie</h2>
												<div class="evencon">
													<P>{{cart.ticket_type}}</P>
												</div>
											</div>
											<div class="cartprice">
												<h2>Prix/Place</h2>
												<div class="evencon">
													<p><b>{{cart.qtx*cart.price}}$</b></p>
												</div>
											</div>
										</div>
									 </div>
								{% endfor %}			 
							{% endif %}		 
							  		 
                                <div class="actionsection">
                                    <div class="asCon">
                                        <div class="asLT">
                                            <p>MONTANT TOTAL des billets</p>
                                        </div>
                                        <div class="asRT">
                                            <p><b>120$</b></p>
                                        </div>
                                    </div>
                                    <div class="asCon">
                                        <div class="asLT">
                                            <p>frais de réservation</p>
                                        </div>
                                        <div class="asRT">
                                            <p><b>2x15$</b></p>
                                        </div>
                                    </div>
                                    <div class="asCon redcol">
                                        <div class="asLT">
                                            <p>montant total de la commande</p>
                                        </div>
                                        <div class="asRT">
                                            <p><b>270$</b></p>
                                        </div>
                                    </div>
                                    <div class="asCon">
                                        <div class="asLT">
                                            <p>MONTANT CARTE CADEAU</p>
                                        </div>
                                        <div class="asRT">
                                            <p><b>120$</b></p>
                                        </div>
                                    </div>
                                    <div class="asCon blackcol">
                                        <div class="asLT">
                                            <p>RESTE À RÉGLER</p>
                                        </div>
                                        <div class="asRT">
                                            <p><b>150$</b></p>
                                        </div>
                                    </div>

                                    <a href="#" class="commandelink"><i class="fas fa-lock"></i> &nbsp;&nbsp;&nbsp; valider ma réservation <span>(paiement sécurisé)</span></a>
                                </div>
                            </div>
-->